<?xml version="1.0"?>
<launch>
    <node pkg="veh_srv_intf_cfg" type="veh_srv_intf_cfg.py" name="veh_srv_intf_cfg" output="screen" cwd="node"/>
    <node pkg="veh_srv_gt_odom" type="gt_odom.py" name="gt_odom" args="real" output="screen" cwd="node"/>
    <node pkg="veh_srv_gt_odom" type="gt_odom.py" name="gt_odom_sim" args="sim" output="screen" cwd="node"/>
</launch>